body {
    margin: 0;
    height: 100vh;
    max-width: 100vh;
    display: flex;
    justify-content: center;
    background-color: #0f0f0f;
  }
    
  body p {
      color: #f0f0f0;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
    
  body a {
      color: #a2cffe;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
  }
    
  body h2 {
      color: #a2cffe;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
  }
    
  button {
      background-color: #a2cffe;
      color: #0f0f0f;
      font-family: "Poppins", sans-serif;
      height: 90px;
    }
    
  input {
      font-family: "Poppins", sans-serif;
      border: 1px;
      width: 125px;
      height: 25px;
  }
    
  .content {
    text-align: center;
  }

  .page-footer {
    display: flex;
    justify-content: center;
  }
  
  .item-card {
    border-style: solid;
    border-width: thin;
    border-color: #818181;
    border-radius: 10px;		
    max-width: 806px;
  }
  
  .item-card h2 {
    color: #a2cffe;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
  }
  
  .item-card p {
    font-size: 15px;
  }
  
  .card-content p {
    padding-left: 23px;
    padding-right: 23px;
    text-align: center;
  }
  
  .placeholder-image {
    border: 1px solid #818181;
    border-radius: 10px;
    height: 450px;
    width: 760px;
  }
  
  .visit-button {
      background-color: #a2cffe;
      border: 1px solid #818181;
      border-radius: 10px;
      box-sizing: border-box;
      width: 200px;
      height: auto;
  }
  
  .visit-button i {
      color: #0f0f0f;
  }
  
  .visit-button p {
      color: #0f0f0f;
  }