body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0f0f0f;
      }
        
      body p {
          color: #f0f0f0;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
      }
        
      body a {
          color: #a2cffe;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
      }
        
      body h3 {
          color: #a2cffe;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          font-style: normal;
      }
        
      button {
        background-color: #a2cffe;
        color: #0f0f0f;
        font-family: "Poppins", sans-serif;
		    height: 59px;
		    border-radius: 5px;
      }
        
      input {
        font-family: "Poppins", sans-serif;
        border: 0px;
        width: 200px;
		    height: 18px;
        padding: 10px 0;
		    border-radius: 5px;
      }

      .content {
        text-align: center;
      }

      .page-footer {
        display: flex;
        justify-content: center;
      }
